kind: Deployment
apiVersion: apps/v1
metadata:
  name: nginx-limit
  namespace: nginx-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      name: nginx-pod
      namespace: nginx-app
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx-container
          image: nginx:latest
          resources:
            requests:
              cpu: 1m
              memory: 2Mi
            limits:
              cpu: 2m
              memory: 3Mi
          ports:
            - containerPort: 80
